.responsive_menu {}

button.hamburger_icon {
    background: none;
    outline: none;
    border: none;
    font-size: 1.7rem;
    padding: 0.2rem;
    cursor: pointer;
    color: #000;
    position: absolute;
    right: 39px;
    display: none;


}

.side_nav {
    background: #fff !important;
    width: 50%;
    height: 100%;
    position: fixed;
    left: -100%;
    z-index: 9999;
    top: 0;
    padding: 4.9rem 0;
    overflow-x: hidden;
    text-align: center;
    transition: 0.7s;
}

.side_nav.active {
    left: 0;
}


ul.mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mobile_menu li {
    padding: 0.7rem;

    width: 100%;


}

.mobile_item {
    font-size: 1rem;
    text-transform: capitalize;
    color: #989898;
    font-weight: 400;
    line-height: 1.6rem;
    transition: 0.3s;
}

.mobile_menu li:hover .mobile_item,
.mobile_menu li:focus .mobile_item {
    color: #f1f1f1;
}


button.close_btn {
    position: absolute;
    right: 29px;
    top: 10px;
    background: none;
    outline: none;
    border: none;
    color: #111;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.close_btn:hover {
    color: #222;
}

.hide_nav {
    visibility: hidden;
}

/*******responsive design*******/

@media screen and (max-width:900px) {


    .mani_menu {
        display: none;
        visibility: hidden;
    }

    button.hamburger_icon {
        display: block;
    }

    button.hamburger_icon {
        top: 13px
    }
}


@media screen and (max-width:768px) {

    /*****mobile menu******/
    .side_nav {

        width: 60%;
    }

    button.hamburger_icon {
        top: 13px
    }
}

@media screen and (max-width:576px) {




    button.hamburger_icon {
        top: 12px
    }
}